body {
  background-image: url("unnamed.png");;
}

.title-container {
  height: 150px;
  text-align: center;
}
h1 {
  font-size: 48px;
  font-family: 'Oswald', sans-serif;
}

h2 {
  text-decoration: underline;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
.button-container {
  height: 50px;
  text-align: center;
  justify-content: center;
}

.tableClass {
  text-align: left;
  width: 50%;
  justify-content: center;
  margin: auto;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.country-class {
  font-size: 30px;
  text-decoration: underline;
}

.total-class {
  font-size: 30px;
  text-decoration: underline;
}

.white-space {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  padding: 0px;
  border: 1px solid #ff8800; /*dark orange*/
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
}

.footer {
  height: 50px;
  flex: 1;
  text-align: center;
  font-size: 25px;
  font-family: 'Oswlad', serif;
}
